@model GazeteProje.Models.News
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create</h1>
<form method="post" asp-action="Edit" enctype="multipart/form-data">
    <input type="hidden" name="NewsId" value="@Model.NewsId"/>
    <div class="mb-3">
        <label class="form-label">Manşet</label>
        <input type="text" name="Header1" value="@Model.Header1" value="" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">Alt Başlık</label>
        <input type="text" name="Header2" value="@Model.Header2" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">İçerik</label>
        <input type="text" name="Content" value="@Model.Content" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">Oluşturulan Tarih</label>
        <input type="date" name="CreateDate" value="@Model.CreateDate" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">Güncelleme Tarihi</label>
        <input type="date" name="UpdateDate" value="@Model.UpdateDate" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">Resim</label>
        <input type="text" name="NewsImage" value="@Model.NewsImage" readonly class="form-control" />
        <input type="file" name="ImageUpload" class="form-control"/>
        <img src="~/New_Image/@Model.NewsImage" width="100" height="100"/>
    </div>
    <div class="mb-3">
        <label class="form-label">Kategoriler</label>
        <select name="CategoryId" class="form-control" asp-items="ViewBag.CategoryList"></select>
    </div>
   <input type="submit" class="btn btn-primary" value="Kaydet" />

</form>

