@model GazeteProje.Models.Comments

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Comments</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommentContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommentContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Approval)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Approval)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CommentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
