@model GazeteProje.Models.CornerPost

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>CornerPost</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Header)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Header)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedCorner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedCorner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedCorner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedCorner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Writer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Writer.WriterId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.read)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.read)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CornerPostId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
